{% extends "BackendBundle::layout.html.twig" %}
{% block breadcrumb %}
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-credit-card"></i> <a
                    href="{{ path('llist-payment-type') }}">Tipos de Pago</a> <span> &gt; Modificar</span></h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8"></div>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div data-widget-custombutton="false" data-widget-editbutton="false" data-widget-colorbutton="false"
                 id="wid-id-1" class="jarviswidget jarviswidget-sortable" style="" role="widget">
                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                    <h2>Editar Tipo de Pago</h2>
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">
                        {{ form_start(form, { 'attr': {'class': 'smart-form', "id": "payment-type-form", "novalidate":"novalidate"} }) }}
                        <input type="hidden" id="payment-type_id" value="{{ id }}">
                        <fieldset>
                            <section class="col col-6">
                                <label class="label">Tipo de Pago</label>
                                <label class="input"><i class="icon-prepend fa fa-credit-card"></i>
                                    {{ form_widget(form.name, {'attr': {'class': 'custom-scroll', 'placeholder':'Tipo de Pago' }}
                                    ) }}
                                </label>
                            </section>
                            <section class="col col-2">
                                <label class="label">&nbsp;</label>
                                <label class="checkbox">
                                    {{ form_widget(form.active, {'attr': { }}) }}
                                    <i></i>Activo
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Guardar</button>
                            <button onclick="window.history.back();" class="btn btn-default" type="button">Cancelar
                            </button>
                        </footer>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#payment-type-form label').removeClass('control-label col-sm-3');
        });
    </script>
{% endblock scripts %}
