{% extends "BackendBundle::layout.html.twig" %}
{% block breadcrumb %}
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-credit-card"></i> Tipos de Pagos <span> &gt; Listado</span></h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul class="demo-btns pull-right" style="padding-top: 15px;">
            <li>
                <a class="btn btn-labeled btn-default" href="{{ path('new-payment-type') }}"> <span class="btn-label"><i class="fa fa-plus-circle"></i></span>Agregar</a>
            </li>
        </ul>
    </div>
{% endblock breadcrumb %}
{% block content %}

    <div data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" id="wid-id-1" class="jarviswidget" role="widget" data-widget-attstyle="">
        <header role="heading">
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Listado de Tipos de Pago</h2>
            <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>
        </header>
        <div role="content">
            <div class="jarviswidget-editbox">
            </div>
            <div class="widget-body no-padding">
                <div id="datatable_fixed_column_wrapper" class="dataTables_wrapper form-inline no-footer">
                    <table width="100%" class="table table-striped table-bordered dataTable no-footer" id="datatable" role="grid" aria-describedby="datatable_fixed_column_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th width="2%"></th>
                                <th width="82%" class="sorting" aria-controls="datatable_fixed_column">Nombre</th>
                                <th style="text-align:center;width:10%;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{{ asset('bundles/backend/js/plugin/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatables/dataTables.colVis.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatables/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatable-responsive/datatables.responsive.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').dataTable({
                "ajax": Routing.generate('get-list-payment-type'),
                "language": {
                    "url": "{{ asset('bundles/backend/js/plugin/datatables/resources/dataTables.spanish.lang.json') }}"
                },
                "createdRow": function ( row, data, index ) {
                    $('td', row).eq(2).css({ 'width': '10%'});
                    $('td', row).eq(2).css({ 'text-align': 'center'});
                }
            });

            $("#datatable").on('click', '.confirm-delete', function () {
                var id = $(this).attr('data-id');

                $.SmartMessageBox({
                    title: "Eliminar!",
                    content: "Está seguro de eliminar el elemento? Los cambios son irreversibles!!",
                    buttons: '[No][Sí]'
                }, function (ButtonPressed) {
                    if (ButtonPressed === "Sí") {
                        $.ajax({
                            type: "DELETE",
                            url: Routing.generate('delete-payment-type', {id: id}),
                            crossDomain: false,
                            dataType: "html",
                            success: function (data) {
                                var data = $.parseJSON(data);

                                if (data.status === false) {
                                    htmlContent = "<ul>";
                                    for (var prop in data.error) {
                                        htmlContent += '<li>' + data.error[prop] + '</li>';
                                    }
                                    htmlContent += "</ul>";

                                    $.smallBox({
                                        title: "Ocurrieron errores",
                                        content: htmlContent,
                                        color: "#C46A69",
                                        icon: "fa fa-warning fadeInRight animated",
                                        timeout: 7000
                                    });
                                } else {
                                    if (data.message != "") {
                                        $.smallBox({
                                            title: "Satisfactorio",
                                            content: data.message,
                                            color: "#739E73",
                                            icon: "fa fa-check fadeInRight animated",
                                            timeout: 5000
                                        });

                                        window.setTimeout(function () {
                                            window.location.href = Routing.generate('list-payment-type');
                                        }, 1000);
                                    }
                                }
                            },
                            error: function (data) {
                                $.smallBox({
                                    title: "Ocurrieron errores",
                                    content: "Error procesando datos" + data.status,
                                    color: "#C46A69",
                                    icon: "fa fa-warning fadeInRight animated",
                                    timeout: 7000
                                });
                            }
                        });
                    }
                    if (ButtonPressed === "No") {
                        return 0;
                    }

                });
            });

            $('#datatable').on('show.bs.modal', '.confirm-delete', function (e) {
                $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
            });

            $('#datatable').on('mouseenter', '.btn', function (e) {
                $('.btn').tooltip();
            });

            $('#datatable').on('mouseover', '.btn', function (e) {
                $('.btn').tooltip();
            });
        });
    </script>
{% endblock scripts %}
