{% extends "BackendBundle::layout.html.twig" %}
{% block content %}
    <div class="alert alert-danger alert-block">
        <h4 class="alert-heading">Error!</h4>
        <p class="font-lg"><i class="fa fa-times-circle"></i> Lo sentimos Ud. no posee los permisos adecuados para acceder a esta área. Por favor contacte con alguno de nuestros administrador.</p>
    </div>
{% endblock content %}
