{% extends '::base.html.twig' %}
{% block title %}Persona Natural{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <script type='text/javascript'><!--//<![CDATA[
                var m3_u = (location.protocol == 'https:' ? 'https://tanane.com/openx/www/delivery/ajs.php' : 'http://tanane.com/openx/www/delivery/ajs.php');
                var m3_r = Math.floor(Math.random() * 99999999999);
                if (!document.MAX_used)
                    document.MAX_used = ',';
                document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
                document.write("?zoneid=4");
                document.write('&amp;cb=' + m3_r);
                if (document.MAX_used != ',')
                    document.write("&amp;exclude=" + document.MAX_used);
                document.write(document.charset ? '&amp;charset=' + document.charset : (document.characterSet ? '&amp;charset=' + document.characterSet : ''));
                document.write("&amp;loc=" + escape(window.location));
                if (document.referrer)
                    document.write("&amp;referer=" + escape(document.referrer));
                if (document.context)
                    document.write("&context=" + escape(document.context));
                if (document.mmm_fo)
                    document.write("&amp;mmm_fo=1");
                document.write("'><\/scr" + "ipt>");
                //]]>--></script><noscript><a href='http://tanane.com/openx/www/delivery/ck.php?n=ac36d9dc&amp;cb=5861450367716731606455982' target='_blank'><img src='http://tanane.com/openx/www/delivery/avw.php?zoneid=4&amp;cb=3227490546623517794104054&amp;n=ac36d9dc' border='0' alt='' /></a></noscript>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" >
            <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>PERSONA NATURAL</h3>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <h3 style='color:#5E3D1E;text-align: left;font-weight: bold;'>IMPORTANTE:</h3>
            <p style='color:#5E3D1E;font-size: 16px;text-align: justify;font-weight: bold;'>
                Formularios recibidos después de la 1:00 pm serán procesados al siguiente día hábil.<br> Todo formulario con información incompleta, no podrá ser procesado hasta recibir los datos correctos.
            </p>
            <br>
        </div>
    </div>
    <div class="row" id="verticalForm">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="alert alert-warning" role="alert">
                <strong>Información!</strong>
                <ul>
                    <li>Los campos marcados con <span class="text-danger">(*)</span> son obligatorios</li>
                    <li>Si la dirección de envío es diferente a la dirección fiscal, este campo debe ser llenado</li>
                </ul>
            </div>

            {{ form_start(orderForm, {'attr': {'class':"form-horizontal", 'role':"form", 'id':"naturalForm"}}) }}
            <div class="form-group">
                <label class="control-label col-sm-4 required">Canal de Compra <span class="text-danger">(*)</span></label>
                <div class="col-sm-8 selectContainer">
                    <select name="canal_compra_nat" id="canal_compra_nat" class="form-control toSelect2" required data-toggle="#nickname_nat">
                        <option value="">-- SELECCIONAR --</option>
                        <option value="1">Mercado Libre</option>
                        <option value="2">Linio</option>
                        <option value="3">OLX</option>
                        <option value="4">Compra Individual</option>
                        <option value="5">Otros</option>
                    </select>
                </div>
            </div>
            <div id="nickname_nat" class="form-group" style="display:none">
                <label class="control-label col-sm-4 required">Nickname/Seudónimo <span class="text-danger">(*)</span></label>
                <div class="col-sm-8">
                    {{ form_widget(orderForm.nickname, {'attr':{'class':'form-control','placeholder':'Nickname/Seudónimo'}})}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 required">Nombre(s) y Apellido(s) <span class="text-danger">(*)</span></label>
                <div class="col-sm-8">
                    {{ form_widget(orderForm.person.nat.description, {'attr':{'class':'form-control','placeholder':'Nombre(s) y Apellido(s)'}})}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 required">Número de Cédula <span class="text-danger">(*)</span></label>
                <div class="col-sm-2">
                    {{ form_widget(orderForm.person.identification_type, {'attr':{'class':'form-control toSelect2'}})}}
                </div>
                <div class="col-sm-6" style="padding-left: 0px; margin-left: -13px; padding-right: 4px;">
                    {{ form_widget(orderForm.person.ci, {'attr':{'class':'form-control','placeholder':'Sin puntos o guiones'}})}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 required">Tel&eacute;fono <span class="text-danger">(*)</span></label>
                <div class="col-sm-8">
                    {{ form_widget(orderForm.phone, {'attr':{'class':'form-control', 'maxlength':'11', 'placeholder':'Ej: 04128944387 (solo se admiten números de Venezuela)'}})}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 required">Correo Electrónico <span class="text-danger">(*)</span></label>
                <div class="col-sm-8">
                    {{ form_widget(orderForm.email, {'attr':{'class':'form-control','placeholder':'Ej: correo@correo.com'}})}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 required">Dirección <span class="text-danger">(*)</span></label>
                <div class="col-sm-8">
                    {{ form_widget(orderForm.fiscal_address, {'attr':{'class':'form-control', 'rows':'4'}})}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-lg-offset-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="same_address" name="same_address" value="1" data-toggle="#shippingAddress" /> La dirección fiscal y la dirección de envio son las mismas
                        </label>
                    </div>
                </div>
            </div>
            <div id="shippingAddress">
                <div class="form-group">
                    <label class="control-label col-sm-4 required">Dirección de Envío</label>
                    <div class="col-sm-8">
                        {{ form_widget(orderForm.shipping_address, { 'attr': {'class': 'shipping_address form-control', 'rows':'4'}}) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 required">Persona de Contacto</label>
                <div class="col-sm-8">
                    {{ form_widget(orderForm.person.nat.contact_person, {'attr':{'class':'form-control', 'placeholder':'Ej: Persona Contacto'}})}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-lg-offset-4">
                    <div class="checkbox">
                        <label>
                            {{ form_widget(orderForm.lives_in_ccs, { 'attr': {'class': 'lives_in_ccs'}}) }} Reside en Caracas?
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 required">Compañía de Encomiendas <span class="text-danger">(*)</span></label>
                <div class="col-sm-8 selectContainer">
                    {{ form_widget(orderForm.shipping_from, { 'attr': {'class': 'shipping_from form-control toSelect2'}}) }}
                </div>
            </div>
            <div id="mrw" style="display: none" class="col-sm-8 col-lg-offset-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Información!</h3>
                    </div>
                    <div class="panel-body">
                        Los envíos realizados a través de MRW se harán bajo riesgo del usuario
                    </div>
                </div>
            </div>
            <div class="form-group secure_shipping" style="display: none">
                <div class="col-sm-8 col-lg-offset-4">
                    <div class="checkbox">
                        <label>
                            {{ form_widget(orderForm.secure) }} Asegurar envío?
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-lg-offset-4"><legend class="less-uppercase">Ofertas realizadas a facturar:</legend></div>
            <div class="">
                <div id='clone'
                     data-content='<div class="col-sm-10 col-lg-offset-2 products" id="products_kk" data-num="kk"><br><div class="col-sm-2" ><input type="text" class="numeric form-control typeahead" name="ProductoForm[kk][amount]" id="ProductoForm_kk_amount" placeholder="" autocomplete="off" required="required"></div><div class="col-sm-9"><input type="text" class="form-control" name="ProductoForm[kk][product_name]" id="ProductoForm_kk_product_name" placeholder="" required="required"></div><div class="col-sm-1"></div><div class="col-sm-1"><button type="button" class="btn btn-danger btn-sm close-link" data-content="#products_kk"><span class="glyphicon glyphicon-minus-sign"></span></button></div></div>'>
                </div>
            </div>
            <div id="products_forms" class="row col-lg-offset-2">
                <div class="col-sm-10 col-lg-offset-2 products" id="products_0" data-num="0">
                    <div class="col-sm-2">
                        <label for="">Cantidad</label>
                        <input type="text" class="form-control" name="ProductoForm[0][amount]" id="ProductoForm_0_amount">
                    </div>
                    <div class="col-sm-9">
                        <label for="">Producto</label>
                        <input type="text" class="form-control typeahead" name="ProductoForm[0][product_name]" id="ProductoForm_0_product_name">
                    </div>
                    <div class="col-sm-1"><label for="">&nbsp;</label>
                        <button type="button" class="btn btn-primary btn-sm add-link" ><span class="glyphicon glyphicon-plus-sign"></span></button>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label class="control-label col-sm-4 required">Forma de Pago <s,'placeholder':'Ej: 12341 (solo se admiten numeros)'pan class="text-danger">(*)</span></label>
                <div class="col-sm-8 selectContainer">
                    {{ form_widget(orderForm.payment_type, {'attr':{'class':'form-control toSelect2'}})}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 required">Monto <span class="text-danger">(*)</span></label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <div class="input-group-addon">BsF</div>
                        {{ form_widget(orderForm.order_amount, {'attr':{'class':'form-control','placeholder':'Ej: 444.44|Solo se admite punto (.) como separador'}})}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 required">Banco <span class="text-danger">(*)</span></label>
                <div class="col-sm-8 selectContainer">
                    {{ form_widget(orderForm.bank, {'attr':{'class':'form-control toSelect2'}})}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 required">No. Transacción <span class="text-danger">(*)</span></label>
                <div class="col-sm-8">
                    {{ form_widget(orderForm.transaction, {'attr':{'class':'form-control','placeholder':'Ej: 12341 (solo se admiten numeros)'}})}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 required">Comentarios</label>
                <div class="col-sm-8">
                    {{ form_widget(orderForm.comments, {'attr':{'class':'form-control', 'rows':'4'}})}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-lg-offset-4">
                    <div class="checkbox">
                        <label>
                            {{ form_widget(orderForm.suscribe_mail_list) }} Deseo suscribirme al boletín y recibir ofertas
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-default">Limpiar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
            {{ form_widget(orderForm._token) }}
            {{ form_errors(orderForm) }}
            {{ form_end(orderForm) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <script type='text/javascript'><!--//<![CDATA[
                var m3_u = (location.protocol == 'https:' ? 'https://tanane.com/openx/www/delivery/ajs.php' : 'http://tanane.com/openx/www/delivery/ajs.php');
                var m3_r = Math.floor(Math.random() * 99999999999);
                if (!document.MAX_used)
                    document.MAX_used = ',';
                document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
                document.write("?zoneid=4");
                document.write('&amp;cb=' + m3_r);
                if (document.MAX_used != ',')
                    document.write("&amp;exclude=" + document.MAX_used);
                document.write(document.charset ? '&amp;charset=' + document.charset : (document.characterSet ? '&amp;charset=' + document.characterSet : ''));
                document.write("&amp;loc=" + escape(window.location));
                if (document.referrer)
                    document.write("&amp;referer=" + escape(document.referrer));
                if (document.context)
                    document.write("&context=" + escape(document.context));
                if (document.mmm_fo)
                    document.write("&amp;mmm_fo=1");
                document.write("'><\/scr" + "ipt>");
                //]]>--></script><noscript><a href='http://tanane.com/openx/www/delivery/ck.php?n=ac36d9dc&amp;cb=2810037598922335021252034' target='_blank'><img src='http://tanane.com/openx/www/delivery/avw.php?zoneid=4&amp;cb=1990950816680914235212620&amp;n=ac36d9dc' border='0' alt='' /></a></noscript>

        </div>
    </div>
    <div class="modal fade" id="messageError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h1 class="panel-title"><i class="fa fa-warning"></i> Ha ocurrido un error!</h1>
            </div>
            <div class="panel-body">
                <h3 class="text-center">Por favor, revisar la información suminstrada.</h3>
            </div>
        </div>
    </div>
</div>
{% endblock content %}