{% extends "NewTemplateBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content_content %}
    <div class="page-header">
        <h1>Editar usuario</h1>
    </div>

    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </form>
{% endblock %}