{% extends "NewTemplateBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content_content %}
    <div class="page-header">
        <h1>Perfil de usuario</h1>
    </div>

    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
{% endblock %}