{% extends "BackendBundle::layout.html.twig" %}
{% block breadcrumb %}
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-user"></i> <a href="{{ path('list-user') }}">Usuarios</a>
            <span> &gt; Modificar</span></h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8"></div>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div data-widget-custombutton="false" data-widget-editbutton="false" data-widget-colorbutton="false"
                 id="wid-id-1" class="jarviswidget jarviswidget-sortable" style="" role="widget">
                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                    <h2>Editar Usuario [ <em>{{ user.username }}</em> ]</h2>
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">
                        <form id="user-form" class="smart-form" action="" method="post" name="user">
                            <fieldset>
                                <section class="col col-6">
                                    <label class="label">Nombre de Usuario</label>
                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                        {{ form_widget(form.username, {'attr': {'class': 'custom-scroll', 'placeholder':'Nombre de Usuario' }}
                                        ) }}
                                        <b class="tooltip tooltip-bottom-left">Colocar Nombre de Usuario</b>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Correo Electrónico</label>
                                    <label class="input"> <i class="icon-prepend fa fa-envelope-o"></i>
                                        {{ form_widget(form.email, {'attr': {'class': 'custom-scroll', 'placeholder':'Correo Electrónico' }}
                                        ) }}
                                        <b class="tooltip tooltip-bottom-left">Colocar Correo Electrónico</b>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Contraseña</label>
                                    <label class="input"> <i class="icon-prepend fa fa-lock"></i>
                                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'custom-scroll', 'placeholder':'*********' }}
                                        ) }}
                                        <b class="tooltip tooltip-bottom-left">Colocar contraseña</b> </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Confirmar Contraseña</label>
                                    <label class="input"> <i class="icon-prepend fa fa-lock"></i>
                                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'custom-scroll', 'placeholder':'*********' }}
                                        ) }}
                                        <b class="tooltip tooltip-bottom-left">Colocar contraseña</b> </label>
                                </section>
                            </fieldset>
                            <fieldset>
                                <section>
                                    <label class="checkbox">{{ form_widget(form.enabled, {'attr': {'class': 'custom-scroll' }}
                                        ) }}<i></i>{{ form_label(form.enabled) }}?</label>
                                </section>
                            </fieldset>
                            <header>Roles</header>
                            <fieldset>
                                <section>
                                    {% for t in form.roles %}
                                        <label class="checkbox">
                                            {{ form_widget(t, {'attr': {'class': 'custom-scroll' }}) }}
                                            <i></i>{{ form_label(t) }}
                                        </label>
                                    {% endfor %}
                                </section>
                            </fieldset>
                            <header>Grupos</header>
                            <fieldset>
                                <section>
                                    {% for t in form.groups %}
                                        <label class="checkbox">
                                            {{ form_widget(t, {'attr': {'class': 'custom-scroll' }}) }}
                                            <i></i>{{ form_label(t) }}
                                        </label>
                                    {% endfor %}
                                </section>
                            </fieldset>
                            <footer>
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Guardar
                                </button>
                                <button onclick="window.history.back();" class="btn btn-default" type="button">
                                    Cancelar
                                </button>
                            </footer>
                            {{ form_widget(form._token) }}
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".smart-form").submit(function (e) {
                e.preventDefault();

                if ($(".state-error").length < 1) {
                    $.ajax({
                        async: false,
                        type: "POST",
                        cache: false,
                        url: '{{ path('update-user', {'id': user.getId }) }}',
                        data: $('.smart-form').serializeArray(),
                        success: function (data) {
                            if (data.status === false) {
                                htmlContent = "<ul>";
                                for (var prop in data.error) {
                                    htmlContent += '<li>' + data.error[prop] + '</li>';
                                }
                                htmlContent += "</ul>";

                                $.smallBox({
                                    title: "Ocurrieron errores",
                                    content: htmlContent,
                                    color: "#C46A69",
                                    icon: "fa fa-warning shake animated",
                                    timeout: 7000
                                });
                            } else {
                                if (data.message != "") {
                                    $.smallBox({
                                        title: "Satisfactorio",
                                        content: data.message,
                                        color: "#739E73",
                                        icon: "fa fa-check shake animated",
                                        timeout: 5000
                                    });

                                    window.setTimeout(function () {
                                        window.location.href = Routing.generate('list-user');
                                    }, 5000);
                                }
                            }
                        }
                    });
                } else {
                    return false;
                }
            });
        });
    </script>
{% endblock scripts %}
