{% extends "BackendBundle::layout.html.twig" %}
{% block breadcrumb %}
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-cubes"></i> <a
                    href="{{ path('list-product') }}">Productos</a> <span> &gt; Nuevo</span></h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8"></div>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div data-widget-custombutton="false" data-widget-editbutton="false" data-widget-colorbutton="false"
                 id="wid-id-1" class="jarviswidget jarviswidget-sortable" style="" role="widget">
                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                    <h2>Nuevo producto</h2>
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">
                        {{ form_start(form, { 'attr': {'class': 'smart-form', "id": "product-form", "novalidate":"novalidate"} }) }}
                        <fieldset>
                            <div class="row">
                                <section class="col col-6">
                                    {{ form_label(form.product_name, null, {'label_attr': {'class': 'label' }}) }}
                                    <label class="input"> <i class="icon-prepend fa fa-tag"></i>
                                        {{ form_widget(form.product_name, {'attr': {'class': 'custom-scroll', 'placeholder':'Nombre del Producto' }}
                                        ) }}
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">&nbsp;</label>
                                    <label class="checkbox">
                                        {{ form_widget(form.active, {'attr': { }}) }}
                                        <i></i>Activo
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    {{ form_label(form.product_description, null, {'label_attr': {'class': 'label' }})
                                    }}
                                    <label class="textarea"> <i class="icon-prepend fa fa-comment"></i>
                                        {{ form_widget(form.product_description, {'attr': {'class': 'custom-scroll', 'rows' : '3', 'placeholder':'Descripción del Producto' }}
                                        ) }}
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Imagen</label>
                                    <label for="file" class="input input-file" id='lb_imageFile_file'>
                                        <div class="button"><input name="imageFile_file" id="imageFile_file" type="file">Buscar
                                        </div>

                                        <input placeholder="Nombre de la Imagen" readonly="" type="text" class="focus">
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <fieldset>
                            <section class="col col-2"></section>
                            <section class="col col-2"><img id="product_image" src="" class="img-responsive" alt=""
                                                            title="" style="display:none;"/></section>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Guardar</button>
                            <button onclick="window.history.back();" class="btn btn-default" type="button">Cancelar
                            </button>
                        </footer>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".smart-form").validate({
                rules: {
                    'product[product_name]': {
                        required: true
                    },
                    'product[product_description]': {
                        required: true
                    },
                     'imageFile_file': {
                        required: true
                    }
                },
                messages: {
                    'product[product_name]': {
                        required: 'Por favor introduce un nombre de producto'
                    },
                    'product[product_description]': {
                        required: 'Por favor introduce un descripción del producto'
                    },
                    'imageFile_file': {
                        required: 'Por favor introduce una imagen'
                    }
                },
                errorPlacement: function (error, element) {
                    if(element.attr('id') != 'imageFile_file')
                        error.insertAfter(element.parent());
                    else{
                       error.insertAfter($('.focus').parent());
                       $('#lb_imageFile_file').attr('class', 'input input-file state-error');
                    }
                }
            });

            $( "#imageFile_file" ).change(function() {
                $('.focus').val($(this).val());
            });

            function handleFileSelect(evt) {
                var files = evt.target.files; // FileList object

                // Loop through the FileList and render image files as thumbnails.
                for (var i = 0, f; f = files[i]; i++) {
                    // Only process image files.
                    if (!f.type.match('image.*')) {
                        $.smallBox({
                            title: "Archivo inválido",
                            content: "El tipo de archivo no está permitido",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 7000
                        });

                        continue;
                    }

                    var reader = new FileReader();

                    // Closure to capture the file information.
                    reader.onload = (function (theFile) {
                        return function (e) {
                            // Render thumbnail.
                            // var span = document.createElement('span');
                            // span.innerHTML = ['<img id="product_image" class="thumb" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
                            // document.getElementById('pImage').insertBefore(span, null);
                            $('#product_image').attr('src', e.target.result);
                            $('#product_image').attr('title', escape(theFile.name));
                            $('#product_image').show();
                        };
                    })(f);

                    // Read in the image file as a data URL.
                    reader.readAsDataURL(f);
                }
            }

            document.getElementById('imageFile_file').addEventListener('change', handleFileSelect, false);

            $('.smart-form').on('submit', function (e) {
                e.stopPropagation(); // Stop stuff happening
                e.preventDefault(); // Totally stop stuff happening

                if ($(".state-error").length < 1) {
                    $.ajax({
                        async: false,
                        url: '{{ path('save-product') }}',
                        type: 'POST',
                        data: $('.smart-form').serialize() + '&img=' + JSON.stringify($("#product_image").attr('src')),
                        cache: false,
                        success: function (response) {
                            if (response.status === false) {
                                // htmlContent = "<ul>";
                                // for (var prop in response.data) {
                                //     htmlContent += '<li>' + response.data[prop] + '</li>';
                                // }
                                // htmlContent += "</ul>";

                                $.smallBox({
                                    title: "Ocurrieron errores",
                                    content: response.data,
                                    color: "#C46A69",
                                    icon: "fa fa-warning shake animated",
                                    timeout: 7000
                                });

                            } else {
                                $.smallBox({
                                    title: "Satisfactorio",
                                    content: response.data,
                                    color: "#739E73",
                                    icon: "fa fa-check shake animated",
                                    timeout: 5000
                                });
                                window.setTimeout(function () {
                                    window.location.href = Routing.generate('list-product');
                                }, 5000);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            // Handle errors here
                            $.smallBox({
                                title: "Ocurrieron errores",
                                content: textStatus,
                                color: "#C46A69",
                                icon: "fa fa-warning shake animated",
                                timeout: 7000
                            });
                        },
                        complete: function () {
                            // STOP LOADING SPINNER
                        }
                    });
                }
            });
        });
    </script>
{% endblock scripts %}
