<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/template/components/font-awesome/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/template/components/bootstrap/dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/template/components/select2/select2.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/template/css/select2-bootstrap.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/template/css/bootstrapValidator.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/template/components/bootstrap-datepicker/css/datepicker.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/template/components/bootstrap-datepicker/css/datepicker3.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/template/css/tanane.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/template/css/sprites.css') }}" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script type='text/javascript'><!--// <![CDATA[
            var OA_zones = {"zone_1_1": 1, "zone_1_2": 1}
            // ]]> --></script>
        <script type='text/javascript' src='http://tanane.com/openx/www/delivery/spcjs.php?id=1'></script>
    </head>
    <body>
        {% block body %}
            <div class="container">
                <div class="content">
                    {% block menu %}
                        <div class="row col-lg-offset-2" >
                            <div class="col-lg-4">
                                <a href="{{ path('index') }}"><img src="{{ asset('bundles/frontend/images/logotanane.jpg') }}" /></a>
                            </div>
                            <div class="col-lg-2 col-lg-offset-4" style='margin-top:60px;'>
                                <a href="{{ path('mremi_contact_form') }}"><img src="{{ asset('bundles/frontend/images/fb.jpg') }}" /></a>
                                <a href="{{ path('mremi_contact_form') }}"><img src="{{ asset('bundles/frontend/images/tw.jpg') }}" /></a>
                            </div>
                            <div class="col-lg-12">
                                <a href="http://eshops.mercadolibre.com.ve/webtanane/" target="_blank" >
                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="e-Shop" title="e-Shop" class="e-shop" />
                                </a>
                                <a href="{{ path('question') }}">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="FAQ" title="FAQ" class="faq" />
                                </a>
                                <a href="{{ path('index') }}">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Vendidos" title="Vendidos" class="vendidos" />
                                </a>
                                <a href="{{ path('mremi_contact_form') }}">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Contáctenos" title="Contáctenos" class="contactenos" />
                                </a>
                            </div>
                            <div class="col-lg-12">
                                <img src="{{ asset('bundles/frontend/images/line.jpg') }}"/>
                            </div>
                        </div>
                    {% endblock menu %}
                    <div class="row">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        {% endblock %}
        <div id="blockPanel"></div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/template/components/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/template/components/jquery-migrate/jquery-migrate.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/template/components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/template/components/select2/select2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/template/components/select2/select2_locale_es.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/template/js/bootstrapValidator.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/template/js/bootstrapValidator.es_ES.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/template/js/validatorRIF.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/template/components/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/template/components/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/template/js/bootstrap-growl.min.js') }}"></script>
            <script type="text/javascript"><!--// <![CDATA[
                var OA_zones = {"zone_4_1": 4, "zone_4_2": 4}
                // ]]> --></script>
            <script type="text/javascript" src='http://tanane.com/openx/www/delivery/spcjs.php?id=4'></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}

        {% block scripts %}{% endblock scripts %}

        <script src="{{ asset('bundles/template/js/tanane.js') }}"></script>
    </body>
</html>
