{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% block head_style %}
  {% stylesheets
        '@MopaBootstrapBundle/Resources/public/bootstrap/dist/css/bootstrap.min.css'
        '@MopaBootstrapBundle/Resources/public/bootstrap/dist/css/bootstrap-theme.css'
  %}
  <link href="{{ asset_url }}" type="text/css" rel="stylesheet"
        media="screen" />
  {% endstylesheets %}
{% endblock %}
{% block page_header %}
<div class="page-header">
  {% block headline %}{% endblock headline %}
</div>
{% endblock page_header %}
{% block content %}{% endblock content %}
{% block head_script %}
  {% javascripts
      'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
      '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/*.js'
  %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock head_script %}