{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% block page_header %}
<div class="row col-lg-offset-2" >
  <div class="col-lg-4">
    <a href="{{ path('contact') }}"><img src="{{ asset('bundles/frontend/images/logotanane.jpg') }}" /></a>
  </div>
  <div class="col-lg-2 col-lg-offset-4" style='margin-top:60px;'>
    <a href="{{ path('contact') }}"><img src="{{ asset('bundles/frontend/images/fb.jpg') }}" /></a>
    <a href="{{ path('contact') }}"><img src="{{ asset('bundles/frontend/images/tw.jpg') }}" /></a>
  </div>
  <div class="col-lg-12">
    <a href="http://eshops.mercadolibre.com.ve/webtanane/" target="_blank" ><img class='img' src="{{ asset('bundles/frontend/images/e-shop.jpg') }}" id='e-shop'/></a>
    <a href="{{ path('question') }}"><img class='img' src="{{ asset('bundles/frontend/images/faq.jpg') }}" id='faq'/></a>
    <a href="{{ path('index') }}"><img class='img' src="{{ asset('bundles/frontend/images/vendidos.jpg') }}" id='vendidos'/></a>
    <a href="{{ path('contact') }}"><img class='img' src="{{ asset('bundles/frontend/images/contactenos.jpg') }}" id='contactenos'/></a>
  </div>
  <div class="col-lg-12">
    <img src="{{ asset('bundles/frontend/images/line.jpg') }}"/>
  </div>
</div>
{% endblock page_header %}
{% block title %}Inicio{% endblock %}

{% block content %}{% endblock content %}