<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Administración Tanane{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/template/components/bootstrap/dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/template/components/font-awesome/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/backend/css/smartadmin-production.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/backend/css/smartadmin-skins.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/backend/css/demo.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/backend/css/tanane.css') }}" />
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
        {% endblock stylesheets %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />

        <link rel="apple-touch-icon" href="{{ asset('bundles/backend/img/splash/sptouch-icon-iphone.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/backend/img/splash/touch-icon-ipad.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/backend/img/splash/touch-icon-iphone-retina.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/backend/img/splash/touch-icon-ipad-retina.png') }}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="apple-touch-startup-image" href="{{ asset('bundles/backend/img/splash/ipad-landscape.png') }}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
        <link rel="apple-touch-startup-image" href="{{ asset('bundles/backend/img/splash/ipad-portrait.png') }}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="{{ asset('bundles/backend/img/splash/iphone.png') }}" media="screen and (max-device-width: 320px)">
    </head>
    <body class="smart-style-2">
        <header id="header">
            <div class="row">
                <div class="col-xs-7 col-sm-5 col-md-5 col-lg-8">
                    <h2><span class="hidden-xs hidden-sm">Bienvenido al Sistema Administrativo de Tanane.</span></h2>
                </div>
                <div class="col-xs-5 col-sm-3 col-md-7 col-lg-4"></div>
            </div>
        </header>
        <div id="main_home" role="main">
            <div id="content">
                <div class="row">
                    {% block breadcrumb %}
                    {% endblock breadcrumb %}
                </div>
                <section>
                    {% block content %}
                    {% endblock content %}
                </section>
            </div>
        </div>

        <div class="page-footer page-footer-home">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <span class="txt-color-white">Tanane © 2014</span>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

        {# Falback in case jQuery CDN failed #}
        <script type="text/javascript">
            if (!window.jQuery) {
                document.write('<script src="{{ asset('bundles/backend/js/libs/jquery-2.0.2.min.js') }}"><\/script>');
            }
            if (!window.jQuery.ui) {
                document.write('<script src="{{ asset('bundles/backend/js/libs/jquery-ui-1.10.3.min.js') }}"><\/script>');
            }
        </script>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/backend/js/app.config.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/backend/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/template/components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/backend/js/notification/SmartNotification.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/backend/js/smartwidgets/jarvis.widget.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/backend/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/backend/js/plugin/masked-input/jquery.maskedinput.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/template/components/select2/select2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/template/components/select2/select2_locale_es.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/backend/js/plugin/jquery-validate/jquery.validate.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/backend/js/plugin/msie-fix/jquery.mb.browser.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/backend/js/plugin/fastclick/fastclick.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/backend/js/app.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        {% endblock %}
        {#FOSJsRoutingBundle#}
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <script>
            $(document).ready(function () {
                pageSetUp();
            });
        </script>

        {% block scripts %}
        {% endblock scripts %}

        <!--[if IE 8]>
            <h1>Su navegador no está actualizado, por favor, actualice su navegador, vaya a www.microsoft.com/download</h1>
        <![endif]-->
    </body>
</html>
