<nav>
    <ul>
        <li>
            <a href="{{ path('list-order') }}"><i class="fa fa-lg fa-fw fa-shopping-cart"></i> &Oacute;rdenes</a>
        </li>
        <li>
            <a href="{{ path('list-product') }}"><i class="fa fa-lg fa-fw fa-cubes"></i> Productos</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-wrench"></i> <span class="menu-item-parent">Nomencladores</span></a>
            <ul>
                <li>
                    <a href="{{ path('list-bank') }}">Bancos</a>
                </li>
                <li>
                    <a href="{{ path('list-payment-type') }}">Tipos de Pago</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Usuarios</span></a>
            <ul>
                <li>
                    <a href="{{ path('list-user') }}">Usuarios</a>
                </li>
                <li>
                    <a href="{{ path('list-group') }}">Grupos</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
