{% extends "NewTemplateBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content_content %}
    <div class="page-header">
        <h1>Cambiar contraseña</h1>
    </div>

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal" role="form">
        <div class="form-group">
            {{ form_label(form.current_password, null, { 'label_attr' : { 'class' : 'col-sm-3 control-label' }}) }}
            <div class="col-sm-5">
                {{ form_widget(form.current_password) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.first, null, { 'label_attr' : { 'class' : 'col-sm-3 control-label' }}) }}
            <div class="col-sm-5">
                {{ form_widget(form.plainPassword.first) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.second, null, { 'label_attr' : { 'class' : 'col-sm-3 control-label' }}) }}
            <div class="col-sm-5">
                {{ form_widget(form.plainPassword.second) }}
            </div>
        </div>
        {{ form_widget(form._token) }}
        <div class="form-group">
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary pull-right">{{ 'change_password.submit'|trans }}</button>
            </div>
        </div>
    </form>
{% endblock %}