{% extends '::base.html.twig' %}

{% trans_default_domain 'MremiContactBundle' %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" >
                <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>{{ 'mremi_contact.confirm_title'|trans({
        '%fullName%': contact.fullName
      }) }}</h3>
        </div>
        <div class="col-sm-6 col-sm-offset-3" >
            <p style='color:#144A93;font-size: 18px;text-align: center;'>
                {{ 'mremi_contact.confirm_message'|trans }}
            </p>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-lg-8">
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <a href="{{ path('index') }}" class="btn btn-primary">Inicio</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
