{% trans_default_domain 'MremiContactBundle' %}

{% block body_text %}
    {% autoescape false %}
        {{ 'mremi_contact.email_message_txt'|trans({
    '%subject%': contact.subject,
    '%firstName%': contact.firstName,
    '%lastName%':  contact.lastName,
    '%company%':  contact.company,
    '%phone%':  contact.phone,
    '%email%':     contact.email,
    '%message%':   contact.message
}) }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% autoescape false %}
        {{ 'mremi_contact.email_message_html'|trans({
    '%subject%': contact.subject,
    '%firstName%': contact.firstName,
    '%lastName%':  contact.lastName,
    '%company%':  contact.company,
    '%phone%':  contact.phone,
    '%email%':     contact.email,
    '%message%':   contact.message|nl2br
}) }}
    {% endautoescape %}
{% endblock %}
