{% extends '::base.html.twig' %}
{% trans_default_domain 'MremiContactBundle' %}
{% block content %}
    <style type="text/css">
        .label {
            font-weight: bold;
            color: #5e3d1e;
            text-align: right;
        }
        .telef {
            font-weight: bold;
            color: #5e3d1e;
            text-align: right;
        }
    </style>
    <div class="row">
        <div class="col-lg-12" >
            <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>FORMULARIO DE CONTACTO</h3>
        </div>
        <div class="col-lg-2 col-lg-offset-8">
            <label class="telef">
                Telf:0212-6253739<br>0212-3140214
            </label>
        </div>
        <div class="col-lg-12">
        {{ form_start(form, {'attr': { 'id':'contact_form','class':"form-horizontal", 'role':"form", },'action': path('mremi_contact_form')}) }}
        <br>
        <div class="form-group">
            {{ form_label(form.subject, null, {'label_attr': {'class': 'label control-label col-sm-4'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.subject, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.firstName, null, {'label_attr': {'class': 'label control-label col-sm-4'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.firstName, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.lastName, null, {'label_attr': {'class': 'label control-label col-sm-4'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.lastName, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.company, null, {'label_attr': {'class': 'label control-label col-sm-4'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.company, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.email, null, {'label_attr': {'class': 'label control-label col-sm-4'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.phone, null, {'label_attr': {'class': 'label control-label col-sm-4'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.phone, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.message, null, {'label_attr': {'class': 'label control-label col-sm-4'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.message, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <br>
          <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
            </div>
        </div>
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}