<table width="100%" class="table table-striped table-bordered dataTable no-footer" id="datatable" role="grid"
       aria-describedby="datatable_fixed_column_info" style="width: 100%;">
    <thead>
    <tr role="row">
        <th data-class="expand" class="sorting" tabindex="0" aria-controls="datatable_fixed_column">Producto</th>
        <th data-class="expand" class="sorting" tabindex="1" aria-controls="datatable_fixed_column">Cantidad</th>
        <th tabindex="2" width="40px">Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for producto in products %}
        <tr id="{{ id }}-{{ producto['product_id'] }}">
            <td>{{ producto['product_name'] }}</td>
            <td><a href="#" class="product-edit" id="{{ producto['product_id'] }}"
                   data-pk="{{ producto['product_id'] }}" data-type="text" data-placement="right"
                   data-title="Introduzca la cantidad">{{ producto['amount'] }}</a></td>
            <td><a href="#" class="btn-sm btn btn-danger confirm-delete" rel="tooltip" data-placement="top"
                                       data-original-title="Eliminar" data-id="{{ producto['product_id'] }}"><i
                                                class="fa fa-trash-o"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% block scripts %}
    <script src="{{ asset('bundles/backend/js/plugin/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatables/dataTables.colVis.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatables/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatable-responsive/datatables.responsive.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/knob/jquery.knob.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/x-editable/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/x-editable/jquery.mockjax.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/x-editable/x-editable.min.js') }}"></script>
    <script type="text/javascript">
        var order_id =  {{ id }}
        var dTable = $('#datatable').dataTable({
            "language": {
                "url": "{{ asset('bundles/backend/js/plugin/datatables/resources/dataTables.spanish.lang.json') }}"
            }
        });

        $.fn.editable.defaults.mode = 'popup';
        $('.product-edit').editable({
            type: 'text',
            url: Routing.generate('order-update-product', {id: order_id}),
            ajaxOptions: {
                type: 'post'
            },
            validate: function (value) {
                htmlContent = "";
                if (!$.isNumeric($.trim(value)))
                    htmlContent += 'Debe ser un número entero.';
                else if ($.trim(value) < 1)
                    htmlContent += 'Cantidad mayor que cero.';
                htmlContent += "";
                return htmlContent;
            },
            success: function (response) {
                if (response.status === true) {
                    $.smallBox({
                        title: "Satisfactorio",
                        content: response.data,
                        color: "#739E73",
                        icon: "fa fa-check shake animated",
                        timeout: 5000
                    });
                } else {
                    $.smallBox({
                        title: "Ocurrieron errores",
                        content: response.data,
                        color: "#C46A69",
                        icon: "fa fa-warning shake animated",
                        timeout: 5000
                    });
                }
            },
            error: function (response) {
                if (response.status === 500) {
                    return '<ul><li>Problemas con el servidor. Intentelo más tarde.</li></ul>';
                } else {
                    return response.responseText;
                }
            }
        });

        $("#datatable").on('click', '.confirm-delete', function (event) {
            event.preventDefault();
            var order = $(this).attr('data-order');
            var product = $(this).attr('data-product');
            var ohp = '#' + order + '-' + product;
            $.SmartMessageBox({
                title: "Eliminar!",
                content: "Está seguro de eliminar el elemento? Los cambios son irreversibles!!",
                buttons: '[No][Sí]'
            }, function (ButtonPressed) {
                if (ButtonPressed === "Sí") {
                    $.ajax({
                        type: "DELETE",
                        url: Routing.generate('order-delete-product', {id: order, idp: product}),
                        crossDomain: false,
                        dataType: "html",
                        success: function (response) {
                            var response = $.parseJSON(response);
                            // console.log(response.data);
                            if (response.status === false) {
                                htmlContent = "<ul>";
                                for (var prop in response.data) {
                                    htmlContent += '<li>' + response.data[prop] + '</li>';
                                }
                                htmlContent += "</ul>";

                                $.smallBox({
                                    title: "Ocurrieron errores",
                                    content: htmlContent,
                                    color: "#C46A69",
                                    icon: "fa fa-warning fadeInRight animated",
                                    timeout: 7000
                                });
                            } else {
                                $.smallBox({
                                    title: "Satisfactorio",
                                    content: response.data,
                                    color: "#739E73",
                                    icon: "fa fa-check fadeInRight animated",
                                    timeout: 5000
                                });

                                window.setTimeout(function () {
                                    $('table#datatable tr' + ohp).remove();
                                }, 1000);
                            }
                        },
                        error: function (data) {
                            $.smallBox({
                                title: "Ocurrieron errores",
                                content: "Error procesando datos" + data.status,
                                color: "#C46A69",
                                icon: "fa fa-warning fadeInRight animated",
                                timeout: 7000
                            });
                        }
                    });
                }
                if (ButtonPressed === "No") {
                    return 0;
                }

            });
        });
    </script>
{% endblock scripts %}
