{% extends "BackendBundle::layout.html.twig" %}
{% block breadcrumb %}
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-shopping-cart"></i> &Oacute;rdenes <span> &gt; Listado</span>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul class="demo-btns pull-right" style="padding-top: 15px;">
            <li>
                 <button class="btn btn-primary" type="submit" id='print-btn'><i class="fa fa-print"></i> Imprimir</button>
            </li>
        </ul>
    </div>
{% endblock breadcrumb %}
{% block content %}
    <div data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false"
         data-widget-sortable="false" id="wid-id-1" class="jarviswidget" role="widget" data-widget-attstyle="">
        <header role="heading">
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>

            <h2>Listado de Ordenes</h2>
            <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>
        </header>
        <div role="content">
            <div class="jarviswidget-editbox">
            </div>
            <div class="widget-body no-padding">
                <div id="datatable_fixed_column_wrapper" class="dataTables_wrapper form-inline no-footer">
                <form novalidate="novalidate" id="order-print" class="smart-form" action="{{ path('genPDF') }}" method="post" name="prints">
                    <table width="100%" class="table table-striped table-bordered dataTable no-footer" id="datatable"
                           role="grid" aria-describedby="datatable_fixed_column_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th tabindex="0"><i class="fa fa-print fa-2x"></i></th>
                                <th width="5%" class="sorting" tabindex="1" aria-controls="datatable_fixed_column">
                                    Creada
                                </th>
                                <th width="20%" class="sorting" tabindex="1" aria-controls="datatable_fixed_column">
                                    Nombre Persona/Compañía
                                </th>
                                <th width="12%" class="sorting" tabindex="2" aria-controls="datatable_fixed_column">
                                    CI/RIF
                                </th>
                                <th width="10%" class="sorting" tabindex="3" aria-controls="datatable_fixed_column">
                                    Correo
                                </th>
                                <th width="10%" class="sorting" tabindex="4" aria-controls="datatable_fixed_column">
                                    Teléfono
                                </th>
                                <th width="12%" class="sorting" tabindex="5" aria-controls="datatable_fixed_column">
                                    Estado
                                </th>
                                <th style="text-align:center;width:10%;" tabindex="6">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{{ asset('bundles/backend/js/plugin/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatables/dataTables.colVis.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatables/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatable-responsive/datatables.responsive.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').dataTable({
                "ajax": Routing.generate('get-list-order'),
                "language": {
                    "url": "{{ asset('bundles/backend/js/plugin/datatables/resources/dataTables.spanish.lang.json') }}"
                },
                "aaSorting": [],
                "aoColumns": [
                    {"bSortable": false},
                    null,
                    null,
                    null,
                    null,
                    null,
                    {"bSortable": false},
                    {"bSortable": false}
                ],
                "createdRow": function (row, data, index) {
                    $('td', row).eq(0).css({'width': '2%'});
                    $('td', row).eq(0).css({'text-align': 'center'});
                    $('td', row).eq(7).css({'width': '10%'});
                    $('td', row).eq(7).css({'text-align': 'center'});
                    $('td', row).eq(6).css({'width': '12%'});
                    $('td', row).eq(6).css({'text-align': 'center'});
                }
            });
            $("#datatable").on('click', '.confirm-delete', function () {
                var id = $(this).attr('data-id');
                $.SmartMessageBox({
                    title: "Eliminar!",
                    content: "Está seguro de eliminar el elemento? Los cambios son irreversibles!!",
                    buttons: '[No][Sí]'
                }, function (ButtonPressed) {
                    if (ButtonPressed === "Sí") {
                        $.ajax({
                            type: "DELETE",
                            url: Routing.generate('delete-order', {id: id}),
                            crossDomain: false,
                            dataType: "html",
                            success: function (response) {
                                var response = $.parseJSON(response);

                                if (response.status === false) {
                                    htmlContent = "<ul>";
                                    for (var prop in response.data) {
                                        htmlContent += '<li>' + response.data[prop] + '</li>';
                                    }
                                    htmlContent += "</ul>";
                                    $.smallBox({
                                        title: "Ocurrieron errores",
                                        content: htmlContent,
                                        color: "#C46A69",
                                        icon: "fa fa-warning fadeInRight animated",
                                        timeout: 7000
                                    });
                                } else {
                                    if (response.message != "") {
                                        $.smallBox({
                                            title: "Satisfactorio",
                                            content: response.data,
                                            color: "#739E73",
                                            icon: "fa fa-check fadeInRight animated",
                                            timeout: 5000
                                        });
                                        window.setTimeout(function () {
                                            window.location.href = Routing.generate('list-order');
                                        }, 1000);
                                    }
                                }
                            },
                            error: function (response) {
                                $.smallBox({
                                    title: "Ocurrieron errores",
                                    content: "Error procesando datos" + response.status,
                                    color: "#C46A69",
                                    icon: "fa fa-warning fadeInRight animated",
                                    timeout: 7000
                                });
                            }
                        });
                    }
                    if (ButtonPressed === "No") {
                        return 0;
                    }

                });
            });
            $('#datatable').on('show.bs.modal', '.confirm-delete', function (e) {
                $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
            });

            $('#datatable').on('mouseenter', '.btn', function (e) {
                $('.btn').tooltip();
            });

            $('#datatable').on('mouseover', '.btn', function (e) {
                $('.btn').tooltip();
            });

            $('#datatable').on('mouseenter', '.tooltip-status', function (e) {
                $('.tooltip-status').tooltip();
            });

            $('#datatable').on('mouseover', '.tooltip-status', function (e) {
                $('.tooltip-status').tooltip();
            });
            $( "#print-btn" ).click(function() {
                 var checkedNum = $('input[type="checkbox"]:checked').length;
                 if(checkedNum > 0){
                    $( "#order-print" ).submit();
                }
                else
                {
                   $.smallBox({
                        title: "Información",
                        content: 'Marque la Orden o las Ordenes para Imprimir',
                        color: "#C79121",
                        icon: "fa fa-warning fadeInRight animated",
                        timeout: 5000
                });
                   return false;
                }
            });
        });
    </script>
{% endblock scripts %}
