{% extends "BackendBundle::layout.html.twig" %}
{% block breadcrumb %}
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-shopping-cart"></i> <a href="{{ path('list-order') }}">&Oacute;rdenes </a> <span> &gt; Nueva</span></h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8"></div>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div data-widget-custombutton="false" data-widget-editbutton="false" data-widget-colorbutton="false"
                 id="wid-id-1" class="jarviswidget jarviswidget-sortable" style="" role="widget">
                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                    <h2>Agregar Banco</h2>
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">
                        {{ form_start(form, { 'attr': {'class': 'smart-form', "id": "order-form", "novalidate":"novalidate"} }) }}
                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Estatus</label>
                                    <label class="select">
                                        {{ form_widget(form.status) }}
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Número Factura</label>
                                    <label class="input"> <i class="icon-prepend fa fa-credit-card"></i>
                                        {{ form_widget(form.invoice_no, {'attr': {'class': 'custom-scroll', 'placeholder':'Número Factura' }}
                                        ) }}
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Número Envío</label>
                                    <label class="input"> <i class="icon-prepend fa fa-paper-plane-o"></i>
                                        {{ form_widget(form.shipment_no, {'attr': {'class': 'custom-scroll', 'placeholder':'Número Envío' }}
                                        ) }}
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Nickname/Seudónimo</label>
                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                        {{ form_widget(form.nickname, {'attr': {'class': 'custom-scroll', 'placeholder':' Nickname/Seudónimo' }}
                                        ) }}
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Nombre(s) y Apellido(s)</label>
                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                        {% if entity.person.getPersonType == 1 %}
                                            {{ form_widget(form.person.nat.description, {'attr': {'class': 'custom-scroll','placeholder':' Nombre(s) y Apellido(s)' }}) }}
                                        {% else %}
                                            {{ form_widget(form.person.leg.description, {'attr': {'class': 'custom-scroll','placeholder':'Nombre de la compañía' }}) }}
                                        {% endif %}
                                    </label>
                                </section>
                                <section class="col col-1">
                                    <label class="label">Número de Cédula</label>
                                    <label class="select">
                                        {{ form_widget(form.person.identification_type) }}
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label"> &nbsp;</label>
                                    <label class="input">
                                        {% if entity.person.getPersonType == 1 %}
                                            {{ form_widget(form.person.ci, {'attr': {'class': 'custom-scroll', 'placeholder':'Número de Cédula' }}) }}
                                        {% else %}
                                            {{ form_widget(form.person.rif, {'attr': {'class': 'custom-scroll', 'placeholder':'Número de RIF' }}) }}
                                        {% endif %}
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Persona de Contacto</label>
                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                        {% if entity.person.getPersonType == 1 %}
                                            {{ form_widget(form.person.nat.contact_person, {'attr': {'class': 'custom-scroll', 'placeholder':'Persona de Contacto' }}) }}
                                        {% else %}
                                            {{ form_widget(form.person.leg.contact_person, {'attr': {'class': 'custom-scroll', 'placeholder':'Persona de Contacto' }}) }}
                                        {% endif %}
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Correo Electrónico</label>
                                    <label class="input"> <i class="icon-prepend fa fa-envelope-o"></i>
                                        {{ form_widget(form.email, {'attr': {'class': 'custom-scroll', 'placeholder':'Correo Electrónico' }}
                                        ) }}
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Tel&eacute;fono</label>
                                    <label class="input"> <i class="icon-prepend fa fa-phone"></i>
                                        {{ form_widget(form.phone, {'attr': {'class': 'custom-scroll', 'placeholder':'Teléfono' }}
                                        ) }}
                                    </label>
                                </section>
                            </div>
                        </fieldset>

                        <fieldset>
                            <section class="col col-6">
                                <label class="label">Dirección</label>
                                <label class="textarea">
                                    {{ form_widget(form.fiscal_address, {'attr': {'rows':'3' }}) }}
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">Dirección de Envío</label>
                                <label class="textarea">
                                    {{ form_widget(form.shipping_address, {'attr': {'rows':'3' }}) }}
                                </label>
                            </section>
                        </fieldset>

                        <fieldset>
                            <section>
                                <label class="radio" style="display:none;">
                                    {{ form_widget(form.lives_in_ccs, {'attr': {'style':'display:none;' }}) }}
                                    <i></i>Reside en Caracas?
                                </label>
                            </section>
                            <section>
                                <label class="radio" style="display:none;">
                                    {{ form_widget(form.suscribe_mail_list, {'attr': {'style':'display:none;' }}) }}
                                    <i></i>Deseo suscribirme al boletín y recibir ofertas?
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">Compañía de Encomiendas</label>
                                <label class="select">
                                    {{ form_widget(form.shipping_from) }}
                                    <i></i></label>
                            </section>
                            <section class="col col-6">
                                <label class="label">&nbsp;</label>
                                <label class="checkbox">
                                    {{ form_widget(form.secure, {'attr': {(entity.getSecure())? "checked" : "" : "" }})
                                    }}
                                    <i></i>Asegurar envío?
                                </label>
                            </section>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Forma de Pago</label>
                                    <label class="select">
                                        {{ form_widget(form.payment_type) }}
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Monto</label>
                                    <label class="input"> <i class="icon-prepend fa fa-usd"></i>
                                        {{ form_widget(form.order_amount, {'attr': {'class': 'custom-scroll', 'placeholder':'Monto' }}
                                        ) }}
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Banco</label>
                                    <label class="select">
                                        {{ form_widget(form.bank, {'attr': { }}) }}
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Número Transacción</label>
                                    <label class="input"> <i class="icon-prepend fa fa-tag"></i>
                                        {{ form_widget(form.transaction, {'attr': {'class': 'custom-scroll', 'placeholder':'Número de Transacción' }}
                                        ) }}
                                    </label>
                                </section>
                            </div>
                            <section>
                                <label class="label">Comentarios</label>
                                <label class="textarea">
                                    {{ form_widget(form.comments, {'attr': {'rows':'3' }}) }}
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Guardar</button>
                            <button onclick="window.history.back();" class="btn btn-default" type="button">Cancelar
                            </button>
                        </footer>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".smart-form").submit(function (e) {
                e.preventDefault();

                if ($(".state-error").length < 1) {
                    $.ajax({
                        async: false,
                        type: "POST",
                        cache: false,
                        url: '{{ path('save-order') }}',
                        data: $('.smart-form').serializeArray(),
                        success: function (data) {
                            if (data.status === false) {
                                htmlContent = "<ul>";
                                for (var prop in data.error) {
                                    htmlContent += '<li>' + data.error[prop] + '</li>';
                                }
                                htmlContent += "</ul>";

                                $.smallBox({
                                    title: "Ocurrieron errores",
                                    content: htmlContent,
                                    color: "#C46A69",
                                    icon: "fa fa-warning shake animated",
                                    timeout: 7000
                                });
                            } else {
                                if (data.message != "") {
                                    $.smallBox({
                                        title: "Satisfactorio",
                                        content: data.message,
                                        color: "#739E73",
                                        icon: "fa fa-check shake animated",
                                        timeout: 5000
                                    });

                                    window.setTimeout(function () {
                                        window.location.href = Routing.generate('list-order');
                                    }, 5000);
                                }
                            }
                        }
                    });
                } else {
                    return false;
                }
            });
        });
    </script>
{% endblock scripts %}
