{% extends "BackendBundle::layout.html.twig" %}
{% block breadcrumb %}
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-cubes"></i> Estados <span> &gt; Listado</span></h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8"></div>
{% endblock breadcrumb %}
{% block content %}
    <div data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" id="wid-id-0" class="jarviswidget" role="widget" data-widget-attstyle="">
        <a href="{{ path('new-status') }}" class="btn btn-primary pull-right"><i class="fa fa-plus-square-o"></i> Agregar nuevo</a>
    </div>
    <div data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" id="wid-id-1" class="jarviswidget" role="widget" data-widget-attstyle="">
        <header role="heading">
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Listado de Estatus</h2>
            <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>
        </header>
        <div role="content">
            <div class="jarviswidget-editbox">
            </div>
            <div class="widget-body no-padding">
                <div id="datatable_fixed_column_wrapper" class="dataTables_wrapper form-inline no-footer">
                    <table width="100%" class="table table-striped table-bordered dataTable no-footer" id="datatable" role="grid" aria-describedby="datatable_fixed_column_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th class="hasinput">
                                    <input type="text" placeholder="Nombre" class="form-control">
                                </th>
                                <th class="hasinput"></th>
                            </tr>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="datatable_fixed_column">Nombre</th>
                                <th tabindex="2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{{ asset('bundles/backend/js/plugin/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatables/dataTables.colVis.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatables/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/plugin/datatable-responsive/datatables.responsive.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').dataTable({
                "ajax": Routing.generate('get-list-status'),
                "language": {
                    "url": "{{ asset('bundles/backend/js/plugin/datatables/resources/dataTables.spanish.lang.json') }}"
                }
            });
        });
    </script>
{% endblock scripts %}
