{% extends "BackendBundle::layout_login.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="well no-padding">
            <form action="{{ path("fos_user_security_check") }}" id="login-form" class="smart-form client-form" method="post">
                <header>
                    ADMINISTRACI&Oacute;N TANANE | Iniciar sesión
                </header>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% if error %}
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <fieldset>
                    <section>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Usuario|Correo Electrónico">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Usuario|Correo Electrónico</b></label>
                    </section>

                    <section>
                        <label class="input"> <i class="icon-append fa fa-lock"></i>
                            <input name="_password" type="password" placeholder="Escriba su contraseña" required="required">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Escriba su contraseña</b> </label>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-arrow-circle-right"></i> Acceder
                    </button>
                </footer>
            </form>
        </div>
    </div>
{% endblock content %}