.contactenos, .contactenos:hover, .e-shop, .e-shop:hover, .faq, .faq:hover, .fctjur, .fctjur:hover, .fctnat, .fctnat:hover, .vendidos, .vendidos:hover{
    background: url(../images/sprites.png) no-repeat;
}

.contactenos{
    background-position: -1px -5px ;
    width: 179px;
    height: 50px;
}

.contactenos:hover{
    background-position: -1px -57px ;
    width: 179px;
    height: 50px;
}

.e-shop{
    background-position: -198px -2px ;
    width: 128px;
    height: 50px;
}

.e-shop:hover {
    background-position: -200px -56px ;
    width: 128px;
    height: 50px;
}

.faq{
    background-position: -1px -112px ;
    width: 257px;
    height: 50px;
}

.faq:hover{
    background-position: 0 -166px ;
    width: 257px;
    height: 50px;
}

.fctjur{
    background-position: -4px -223px ;
    width: 502px;
    height: 36px;
}

.fctjur:hover{
    background-position: -3px -263px ;
    width: 502px;
    height: 36px;
}

.fctnat{
    background-position: -4px -303px ;
    width: 502px;
    height: 36px;
}

.fctnat:hover{
    background-position: -5px -342px ;
    width: 502px;
    height: 36px;
}

.vendidos{
    background-position: -354px 0;
    width: 149px;
    height: 50px;
}

.vendidos:hover
{
    background-position: -356px -56px ;
    width: 149px;
    height: 50px;
}