#naturalForm .inputGroupContainer .form-control-feedback,
#naturalForm .selectContainer .form-control-feedback {
    top: 0;
    right: -15px;
}

legend.less-uppercase {
    font-size: 18px;
    color: #2189BA;
}

#blockPanel{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width: 100%;
    height: 100%;
    background-color:white;
    z-index: 999999;
    display: none;
    filter:alpha(opacity=80);
    -moz-opacity:.80;
    opacity:.80;
    background-image:url(../images/loader.gif);
    background-repeat:no-repeat;
    background-position:center;
    text-align:center;
    vertical-align:central
    ;