<table width="550" cellspacing="0" cellpadding="25" style="border:1px solid #EEEEEE">
    <tr>
        <td align="left" valign="top"><img src="http://sis.tanane.com/bundles/frontend/images/logotanane.jpg" width="220" height="79" /></td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <span style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#663712">¡Hola {{ username }}!</span><br />
            <span style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#004697">¡Estamos preparando tu pedido para enviarlo cuanto antes! </span><br />
            <br />
            <span style="font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#666">Queremos informarte que tu pago ha sido confirmado con éxito, tu número de factura es {{ invoice_no }}. Tan pronto tu pedido sea enviado, te notificaremos por correo electrónico!!!<br />
                <br /><strong>Saludos, Grupo Web Tanané</strong>
            </span>
        </td>
    </tr>
</table>