<table width="550" cellspacing="0" cellpadding="25" style="border:1px solid #EEEEEE">
    <tr>
        <td align="left" valign="top"><img src="http://sis.tanane.com/bundles/frontend/images/logotanane.jpg"  /></td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <span style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#663712">¡Hola {{ nombre }} !</span><br />
            <span style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#004697">¡Gracias por comprar en GRUPO WEB TANANE!</span><br />
            <br />
            <span style="font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#666">Queremos informarte que el formulario que acabas de enviar fue recibido con éxito a nuestro sistema, una vez verificado el pago de tu producto te lo notificaremos por correo electrónico.<br />
                <br />
                Tus datos recibidos fueron los siguientes: (recuerda que si este formulario fue recibido después de la 12:00pm tu envío será procesado el siguiente día hábil)
            </span>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <span style="font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#666">
                <p><span style="font-weight:bold; color:#004697">Su formulario fue enviado el:</span> {{ fecha }}</p>
                <p><span style="font-weight:bold; color:#004697">Nickname:</span> {{ nickname }}</p>
                <p><span style="font-weight:bold; color:#004697">Nombre y Apellido:</span> {{ nombre }}</p>
                <p><span style="font-weight:bold; color:#004697">Número de cedúla:</span> {{ cedula }}</p>
                <p><span style="font-weight:bold; color:#004697">Número de teléfono:</span> {{ telefono }}</p>
                <p><span style="font-weight:bold; color:#004697">Correo electrónico:</span> {{ correo }}</p>
                <p><span style="font-weight:bold; color:#004697">Dirección:</span> {{ direccion }}</p>
                <p><span style="font-weight:bold; color:#004697">Dirección de envío:</span> {{ direccion_envio }}</p>
                <p><span style="font-weight:bold; color:#004697">Para ser enviado por:</span> {{ enviado }}</p>
                <p><span style="font-weight:bold; color:#663712">El cliente ofertó por los siguientes productos:</span><br />{{ productos }}</p>
                <p><span style="font-weight:bold; color:#004697">Forma de pago:</span> {{ pago }}</p>
                <p><span style="font-weight:bold; color:#004697">Por un monto de:</span> Bs. {{ monto }}</p>
                <p><span style="font-weight:bold; color:#004697">En el banco:</span> {{ banco }}</p>
                <p><span style="font-weight:bold; color:#004697">Número de transferencia o depósito:</span>
                    <span style="font-size:18px; font-weight:bold">{{ transferencia }}</span>
                </p>
                <p><span style="font-weight:bold; color:#004697">Mensaje:</span> La transferencia la realice desde una cuenta del banco mercantil, asi que tardara un poco en hacerse efectivo el dinero, porfavor confirmar el pago y el envio por correo, gracias.<br />
                    <br /><strong>Saludos, Grupo Web Tanané</strong>
                </p>
            </span>
        </td>
    </tr>
</table>