<table width="550" cellspacing="0" cellpadding="25" style="border:1px solid #EEEEEE">
    <tr>
        <td align="left" valign="top"><img src="http://sis.tanane.com/bundles/frontend/images/logotanane.jpg" width="220" height="79" /></td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <span style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#663712">¡Hola {{ username }}!</span><br />
            <span style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#004697">¡Tu pedido ya fue enviado!</span><br />
            <br />
            <span style="font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#666">Puedes rastrear tu pedido directamente en el sitio web de la compañía de envíos que elegiste usando el número de rastreo que aparece a continuación: {{ shipment_no }}<br />
                <br />
                Los horarios de entrega generalmente es de lunes a viernes de 9 a.m. a 5 p.m. No podemos garantizarte una hora exacta de entrega.<br />
                <br /><strong>Saludos, Grupo Web Tanané</strong>
            </span>
        </td>
    </tr>
</table>