<table width="550" cellspacing="0" cellpadding="25" style="border:1px solid #EEEEEE">
    <tr>
        <td align="left" valign="top"><img src="http://sis.tanane.com/bundles/frontend/images/logotanane.jpg" width="220" height="79" /></td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <span style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#663712">¡Hola {{ username }}!</span><br />
            <span style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#004697">¡El estado de su orden a sido actualizada a {{ status }}!</span><br />
            <br />
            <strong>Saludos, Grupo Web Tanané</strong>
        </td>
    </tr>
</table>