{% extends '::base.html.twig' %}
{% block title %}Contacto{% endblock %}
{% block content %}
    <style type="text/css">
        .label {
            font-weight: bold;
            color: #5e3d1e;
            text-align: right;
        }
        .telef {
            font-weight: bold;
            color: #5e3d1e;
            text-align: right;
        }
    </style>
    <div class="row">
        <div class="col-lg-12" >
            <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>FORMULARIO DE CONTACTO</h3>
        </div>
        <div class="col-lg-2 col-lg-offset-8">
            <label class="telef">
                Telf:0212-6253739<br>0212-3140214
            </label>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <label class="label control-label col-sm-4">
                    Nombres:
                </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <label class="label control-label col-sm-4">
                    Apellidos:
                </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <label class="label control-label col-sm-4">
                    Compañía:
                </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <label class="label control-label col-sm-4">
                    Correo Electrónico:
                </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <label class="label control-label col-sm-4">
                    Teléfonos:
                </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <label class="label control-label col-sm-4">
                    Mensaje:
                </label>
                <div class="col-sm-4">
                    <textarea class="form-control"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-lg-offset-1">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-default">Limpiar</button>
                        <button type="submit" class="btn btn-default">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
