{% extends '::base.html.twig' %}
{% block title %}NÚMEROS DE CUENTAS{% endblock %}
{% block content %}
    <style type="text/css">
        .label {
            font-weight: bold;
            color: #5e3d1e;
            text-align: right;
        }
        .telef {
            font-weight: bold;
            color: #5e3d1e;
            text-align: right;
        }
    </style>
    <div class="row">
        <div class="col-lg-12" >
            <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>FORMULARIOS</h3>
        </div>
        <br><br>
        <div class="col-lg-8 col-lg-offset-2">
            <p style='color:#5E3D1E;font-size: 16px;text-align: justify;font-weight: bold;'>
                TANANÉ ofrece para todos los usuarios que realizan sus compras, esta área para hacer mucho más fácil el envío de sus datos para la facturación, una vez realizado este proceso nosotros hacemos el envío lo antes posible para prestarle un excelente servicio.
            </p>
            <p style='color:#5E3D1E;font-size: 16px;text-align: justify;font-weight: bold;'>
                Recuerde que los datos que envíen tienen que ser lo más exactos y actualizados.
            </p>
            <p style='color:#5E3D1E;font-size: 16px;text-align: justify;font-weight: bold;'>
                Todo formulario recibido luego de la 1:00pm será procesado para enviar su producto al día siguiente.
            </p>
            <br>
            <p style='color:#5E3D1E;font-size: 16px;text-align: center;font-weight: bold;'>
                <a href="{{ path('order', { type : 'natural'}) }}">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Formulario Factura Pesona Natural" title="Formulario Factura Pesona Natural" class="fctnat" />
                </a>
            </p>
            <p style='color:#5E3D1E;font-size: 16px;text-align: center;font-weight: bold;'>
                <a href="{{ path('order', { type : 'legal'}) }}">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Formulario Factura Pesona Jurídica" title="Formulario Factura Pesona Jurídica" class="fctjur" />
                </a>
            </p>
        </div>
    </div>
{% endblock content %}
