{% extends '::base.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block menu %}<br>{% endblock menu %}
{% block content %}
    <div class="col-lg-3 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-3" style='margin-top:-4px;'>
                <a href="contact"><img src="{{ asset('bundles/frontend/images/contact.jpg') }}"  /></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3" style='margin-top:-10px;'>
                <a href="http://www.facebook.com/webtanane" target="_blank"><img src="{{ asset('bundles/frontend/images/fb.jpg') }}"  /></a>
                <a href="http://twitter.com/webtanane" target="_blank"><img src="{{ asset('bundles/frontend/images/tw.jpg') }}"  /></a>
                <a href="http://www.youtube.com/user/webtanane" target="_blank"><img src="{{ asset('bundles/frontend/images/yt.jpg') }}"  /></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3" style='margin-top:-10px;'>
                <a href="{{ path('location') }}"><img src="{{ asset('bundles/frontend/images/location.jpg') }}"  /></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3" style='margin-top:-10px;'>
                <a href="{{ path('payment') }}"><img src="{{ asset('bundles/frontend/images/payment.jpg') }}"  /></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3" style='margin-top:-10px;'>
                <a href="{{ path('ml') }}"><img src="{{ asset('bundles/frontend/images/buy.jpg') }}"  /></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3" style='margin-top:-10px;'>
                <a href="{{ path('shipping') }}"><img src="{{ asset('bundles/frontend/images/shipping.jpg') }}"  /></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3" style='margin-top:-10px;'>
                <a href="{{ path('question') }}"><img src="{{ asset('bundles/frontend/images/question.jpg') }}"  /></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3" style='margin-top:-10px;'>
                <a href="{{ path('warranties') }}"><img src="{{ asset('bundles/frontend/images/warranties.jpg') }}"  /></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3">
                <a href="http://www.tanane.com/"><img src="{{ asset('bundles/frontend/images/faviconmail.jpg') }}" /></a>
            </div>
        </div>
    </div>
    <div class="col-lg-7 ">
        <div class="row">
            <div class="col-lg-7" >
                <a href="http://eshops.mercadolibre.com.ve/webtanane/"><img width="633" src="{{ asset('bundles/frontend/images/eshoptanane.gif') }}" /></a>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-lg-7 col-lg-offset-2">
                <a href="contact"><img src="{{ asset('bundles/frontend/images/tlf.jpg') }}" /></a>
            </div>
        </div>
    </div>
{% endblock content %}
