{% extends '::base.html.twig' %}
{% block title %}Horario y Hubicacion{% endblock %}
{% block content %}
    <style type="text/css">
        .label {
            font-weight: bold;
            color: #5e3d1e;
            text-align: right;
        }
        .telef {
            font-weight: bold;
            color: #5e3d1e;
            text-align: right;
        }
    </style>
    <div class="row">
        <div class="col-lg-12" >
            <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>HORARIO</h3>
        </div>
        <div class="col-lg-2 col-lg-offset-8">
            <label class="telef">
                Telf:0212-6253739<br>0212-3140214
            </label>
        </div>
        <br>
        <div class="col-lg-12">
            <p style='color:#144A93;font-size: 18px;text-align: center;font-weight: bold;'>
                NUESTRO HORARIO DE ATENCIÓN TELEFÓNICA ES DE:
            </p>
            <p style='color:#144A93;font-size: 18px;text-align: center;font-weight: bold;'>
                LUNES A VIERNES DE 8:00am A 4:00pm
            </p>
            <p style='color:#144A93;font-size: 18px;text-align: center;font-weight: bold;'>
                <img src="{{ asset('bundles/frontend/images/clock.gif') }}" />
            </p>
            <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>DIRECCIÓN</h3>
            <p style='color:#144A93;font-size: 18px;text-align: center;font-weight: bold;'>
                Avenida Principal de La Urbina con calle 3 -A, Edif. Centro Profesional La Urbina,
            </p>
            <p style='color:#144A93;font-size: 18px;text-align: center;font-weight: bold;'>
                piso 6, oficina 6-B. Caracas - Edo. Miranda
            </p>
        </div>
    </div>
{% endblock content %}
