{% extends '::base.html.twig' %}
{% block title %}NÚMEROS DE CUENTAS{% endblock %}
{% block content %}
    <style type="text/css">
        .label {
            font-weight: bold;
            color: #5e3d1e;
            text-align: right;
        }
        .telef {
            font-weight: bold;
            color: #5e3d1e;
            text-align: right;
        }
    </style>
    <div class="row">
        <div class="col-lg-12" >
            <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>NÚMEROS DE CUENTAS</h3>
        </div>
        <br><br>
        <div class="col-lg-12">
            <p style='color:#144A93;font-size: 16px;text-align: center;font-weight: bold;'>
                CUENTA CORRIENTE A NOMBRE DE: GRUPO WEB TANANÉ, C.A. - RIF: J-31742821-8
            </p>
            <br>
            <p style='color:#144A93;font-size: 16px;text-align: center;font-weight: bold;'>
                <img src="{{ asset('bundles/frontend/images/banesco.jpg') }}" width="17%"/> 0134-0333-33-3331003898
            </p>
            <br>
            <p style='color:#144A93;font-size: 16px;text-align: center;font-weight: bold;'>
                <img src="{{ asset('bundles/frontend/images/bnc.jpg') }}" width="17%" /> 0191-0158-45-2100002737
            </p>
            <br>
            <p style='color:#144A93;font-size: 16px;text-align: center;font-weight: bold;'>
                RECUERDE QUE UNA VEZ REALIZADO EL PAGO POR DEPÓSITO O POR TRANSFERENCIA
            </p>
            <p style='color:#144A93;font-size: 16px;text-align: center;font-weight: bold;'>
                DEBE REGISTRAR SU COMPRA POR NUESTRO PORTAL
            </p>
        </div>
    </div>
{% endblock content %}
