{% extends '::base.html.twig' %}
{% block title %} Procesar Datos {% endblock %}

{% block content %}
<style type="text/css">
    .process {
        color: #5E3D1E;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 30px;
    }
</style>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3" >
    <br><br>
        <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>MUCHAS GRACIAS POR SU COMPRA</h3>
        <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>SU FORMULARIO YA FUÉ RECIBIDO POR NUESTRO SISTEMA</h3>
        <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>RECUERDE QUE SI SU FORMULARIO FUÉ RECIBIDO DESPUÉS DE LA 1:00PM SU PEDIDO SERÁ  ENVIADO AL DÍA SIGUIENTE</h3>
    </div>
</div>
{% endblock %}
