{% extends '::base.html.twig' %}
{% block title %}Contacto{% endblock %}
{% block content %}
    <style type="text/css">
        .respuestas {
            /*font-weight: bold;*/
            color: #5e3d1e;
            text-align: justify;
        }
        .preguntas {
            color: #144A93;
            font-weight: bold;
        }
    </style>
    <div class="row">
        <div class="col-lg-12" >
            <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>PREGUNTAS FRECUENTES</h3>
        </div>
        <br><br>
        <div class="col-lg-8 col-lg-offset-2">
            <br>
            <p class='preguntas'>- <a href="#1" target="_self">¿Puedo retirar personalmente mi producto?</a></p>
            <p class='preguntas'>- <a href="#2" target="_self">¿Debo correr con los gastos de envío?</a></p>
            <p class='preguntas'>- <a href="#3" target="_self">Deseo que mi producto sea enviado por otra empresa de transporte que no sea DHL, ¿Cómo haría?</a></p>
            <p class='preguntas'>- <a href="#4" target="_self">¿Qué medios tengo para comunicarme con ustedes?</a></p>
            <p class='preguntas'>- <a href="#5" target="_self">¿Cuáles son los pasos a seguir para concretar mi compra?</a></p>
            <p class='preguntas'>- <a href="#6" target="_self">¿Dónde puedo realizar el pago de mi compra?</a></p>
            <p class='preguntas'>- <a href="#7" target="_self">Ya realicé el pago, ¿Qué debo hacer?</a></p>
            <p class='preguntas'>- <a href="#8" target="_self">Necesito mi factura legal a nombre de una compañía, pero realicé la compra a nombre personal</a></p>
            <p class='preguntas'>- <a href="#9" target="_self">Ya llené el formulario, ¿Qué debo hacer</a>?</p>
            <p class='preguntas'>- <a href="#10" target="_self">Ya recibí el correo con la confirmación de mi pago, ¿Qué debo esperar?</a></p>
            <p class='preguntas'>- <a href="#11" target="_self">Ya concreté todos sus pasos, ¿En qué tiempo recibiré mi compra?</a></p>
            <p class='preguntas'>-<a href="#12" target="_self">¿Hay forma de rastrear mi envío?</a></p>
            <p class='preguntas'>- <a href="#13" target="_self">De no cumplirse algún paso o  surgir algún retraso en el proceso, ¿Qué debo hacer?</a></p>
            <p class='preguntas'>- <a href="#14" target="_self">¿Qué sucede si realizo el pago de mi compra un día viernes?</a></p>
            <p class='preguntas'>- <a href="#15" target="_self">¿Cómo hago uso de mi garantía?</a></p>
            <br><br>
            <p class="preguntas" id='1'>&nbsp;</p>
            <p class='preguntas'>- ¿Puedo retirar personalmente mi producto?</p>
            <p class="respuestas">-Si, puede pasar por nuestra oficina a retirar su compra que gustosamente lo atenderemos.</p>
            <p class="preguntas" id='2'>&nbsp;</p>
            <p class="preguntas">-¿Debo correr con los gastos de envío?</p>
            <p class="respuestas">-Únicamente si no puede pasar a retirar el producto por nuestra   oficina.</p>
            <p class="respuestas">-Si desea que su producto sea enviado a la dirección de su   preferencia, deberá depositar el costo del   producto más el costo del envío. El monto adicional a depositar será indicado   por nuestro personal vía e-mail o telefónicamente, ya que dependerá del peso y   el volumen del articulo ofertado.</p>
            <p class="respuestas">-Todos nuestros envíos son a través de DHL con entrega garantizada. </p>
            <p class="preguntas" id='3'>&nbsp;</p>
            <p class="preguntas">-Deseo que mi producto sea enviado por otra empresa de transporte que no sea DHL, ¿Cómo haría?</p>
            <p class="respuestas">Todos nuestros envíos sin excepción son manejados por DHL; si la zona la cual desea recibir su compra no es abarcada por DHL, de inmediato nos comunicaremos con usted para brindarle la más cómoda y rápida solución.</p>
            <p class="preguntas" id='4'>&nbsp;</p>
            <p class="preguntas">-¿Qué medios tengo para comunicarme con ustedes?</p>
            <p class="respuestas">Vía telefónica de 8:00 am a 4:00pm <a href="{{ path('location') }}" target="_blank">haga click aqui</a>, correo electrónico las 24 horas para cualquier duda o requerimiento <a href="mailto:" target="_blank">ventasweb@tanane.com.ve</a>, o a través de la sección de <a href="contact" target="_blank">contáctenos</a>.</p>
            <p class="preguntas" id='5'>&nbsp;</p>
            <p class="preguntas">-¿Cuáles son los pasos a seguir para concretar mi compra?</p>
            <p class="respuestas">Luego de realizada su compra, usted recibirá un correo de confirmación con enlaces a todas sus dudas y los formularios para ingresar sus datos y el pago realizado <a href="{{ path('index') }}">haga click aquí</a>, el cual nos llegará para proceder a su facturación. Una vez verificado el pago en un máximo de 48hrs se procederá al envío de su producto.</p>
            <p class="preguntas" id='6'>&nbsp;</p>
            <p class="preguntas"> - ¿Dónde puedo realizar el pago de mi compra?</p>
            <p class="respuestas">En nuestras cuentas <a href="{{ path('payment') }}" target="_blank">haga click aquí</a> y a través de MercadoPago. </p>
            <p class="preguntas" id='7'>&nbsp;</p>
            <p class="preguntas">-Ya realicé el pago, ¿Qué debo hacer?</p>
            <p class="respuestas">Llene el formulario que recibió en el correo de confirmación de su compra <a href="{{ path('ml') }}">haga click aquí</a>, con los datos para la facturación y número de depósito.</p>
            <p class="preguntas" id='8'>&nbsp;</p>
            <p class="preguntas">-Necesito mi factura legal a nombre de una compañía, pero realicé la compra a nombre personal</p>
            <p class="respuestas">No hay problema, llene el  formulario <a href="{{ path('ml') }}" target="_blank">haga click aquí</a> con los datos a nombre de quien quiere que se le genere la factura.</p>
            <p class="preguntas" id='9'>&nbsp;</p>
            <p class="preguntas">-Ya llené el formulario, ¿Qué debo hacer?</p>
            <p class="respuestas">Usted recibirá un correo de  confirmación de su pago.</p>
            <p class="preguntas" id='10'>&nbsp;</p>
            <p class="preguntas">-Ya recibí el correo con la confirmación de mi pago, ¿Qué debo esperar?</p>
            <p class="respuestas">Un correo notificando que se realizó su envió y el número de guía del mismo, el cual recibirá en las siguientes 24 horas luego de la confirmación del pago.</p>
            <p class="preguntas" id='11'>&nbsp;</p>
            <p class="preguntas">-Ya concreté todos sus pasos, ¿En qué tiempo recibiré mi compra?</p>
            <p class="respuestas">Su compra le llegará de 48hrs a 72hrs luego de haber enviado el formulario y nosotros haber verificado el pago. Para mayor información visite  políticas de envió <a href="{{ path('shipping') }}" target="_blank">haga click aquí</a>.</p>
            <p class="preguntas" id='12'>&nbsp;</p>
            <p class="preguntas">-¿Hay forma de rastrear mi envío?</p>
            <p class="respuestas">Si, con el número de guía suministrado en el correo que recibió luego de realizar su pago, Verifique su envío <a href="http://www.dhl.com.ve/es/express/rastreo.html" target="_blank">haga click aquí</a>. </p>
            <p class="preguntas" id='13'>&nbsp;</p>
            <p class="preguntas">-De no cumplirse algún paso o  surgir algún retraso en el proceso, ¿Qué debo hacer?</p>
            <p class="respuestas">Comunicarse con nosotros vía correo electrónico <a href="mailto:" target="_blank">ventasweb@tanane.com.ve</a> y de inmediato le daremos respuesta o solución a su situación. Nosotros mantenemos contacto inmediato si llegase a ocurrir algún contratiempo con alguna transacción, la falta de algún dato para el envió o verificación depósito.</p>
            <p class="preguntas" id='14'>&nbsp;</p>
            <p class="preguntas">-¿Qué sucede si realizo el pago de mi compra un día viernes?</p>
            <p class="respuestas">Todos los pagos realizados un día anterior a uno NO laboral o festivo, serán procesados al siguiente día laboral.</p>
            <p class="preguntas" id='15'>&nbsp;</p>
            <p class="preguntas">-¿Cómo hago uso de mi garantía?</p>
            <p class="respuestas">Luego de verificar que su producto cumple las exigencias y condiciones de garantía <a href="{{ path('warranties') }}" target="_blank">haga click aquí</a>, vía correo electrónico <a href="mailto:" target="_blank">garantias@tanane.com.ve</a> nos informa de su caso y de inmediato le haremos llegar un número de caso e instrucciones para el envió de su producto.</p>
        </div>
    </div>
{% endblock content %}
