{% extends '::base.html.twig' %}
{% block title %}Contacto{% endblock %}
{% block content %}
    <style type="text/css">
        .respuestas {
            /*font-weight: bold;*/
            color: #5e3d1e;
            text-align: justify;
        }
        .preguntas {
            color: #144A93;
            font-weight: bold;
        }
    </style>
    <div class="row">
        <div class="col-lg-12" >
            <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>PREGUNTAS FRECUENTES</h3>
        </div>
        <br><br>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel-group" id="accordion">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#1" >
                                <strong>              ¿Puedo retirar personalmente mi producto?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>Si, puede pasar por nuestra oficina a retirar su compra que gustosamente lo atenderemos.</em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#2" >
                                <strong>              ¿Debo correr con los gastos de envío?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="2" class="panel-collapse collapse">
                        <div class="panel-body">

                            -Únicamente si no puede pasar a retirar el producto por nuestra oficina.
                            <br>
                            -Si desea que su producto sea enviado a la dirección de su preferencia, deberá depositar el costo del producto más el costo del envío. El monto adicional a depositar será indicado por nuestro personal vía e-mail o telefónicamente, ya que dependerá del peso y el volumen del articulo ofertado.
                            <br>
                            -Todos nuestros envíos son a través de DHL con entrega garantizada.
                            </em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#3" >
                                <strong>              Deseo que mi producto sea enviado por otra empresa de transporte que no sea DHL, ¿Cómo haría?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>
                                Todos nuestros envíos sin excepción son manejados por DHL; si la zona la cual desea recibir su compra no es abarcada por DHL, de inmediato nos comunicaremos con usted para brindarle la más cómoda y rápida solución.
                            </em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#4" >
                                <strong>¿Qué medios tengo para comunicarme con ustedes?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>
                                Vía telefónica de 8:00 am a 4:00pm <a href="{{ path('location') }}" target="_blank">haga click aqui</a>, correo electrónico las 24 horas para cualquier duda o requerimiento <a href="mailto:" target="_blank">ventasweb@tanane.com.ve</a>, o a través de la sección de <a href="contact" target="_blank">contáctenos</a>.
                            </em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#5" >
                                <strong>              ¿Cuáles son los pasos a seguir para concretar mi compra?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>
                                Luego de realizada su compra, usted recibirá un correo de confirmación con enlaces a todas sus dudas y los formularios para ingresar sus datos y el pago realizado <a href="index">haga click aquí</a>, el cual nos llegará para proceder a su facturación. Una vez verificado el pago en un máximo de 48hrs se procederá al envío de su producto.
                            </em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#6" >
                                <strong>              ¿Dónde puedo realizar el pago de mi compra?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="6" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>
                                En nuestras cuentas <a href="payment" target="_blank">haga click aquí</a> y a través de MercadoPago.
                            </em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#7" >
                                <strong>              Ya realicé el pago, ¿Qué debo hacer?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="7" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>
                                Llene el formulario que recibió en el correo de confirmación de su compra <a href="ml">haga click aquí</a>, con los datos para la facturación y número de depósito.
                            </em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#8" >
                                <strong>              Necesito mi factura legal a nombre de una compañía, pero realicé la compra a nombre personal
                                </strong></a>
                        </h4>
                    </div>
                    <div id="8" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>
                                No hay problema, llene el  formulario <a href="ml" target="_blank">haga click aquí</a> con los datos a nombre de quien quiere que se le genere la factura.
                            </em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#9" >
                                <strong>Ya llené el formulario, ¿Qué debo hacer?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="9" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>
                                Usted recibirá un correo de  confirmación de su pago.
                            </em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#10" >
                                <strong>              Ya recibí el correo con la confirmación de mi pago, ¿Qué debo esperar?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="10" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>
                                Un correo notificando que se realizó su envió y el número de guía del mismo, el cual recibirá en las siguientes 24 horas luego de la confirmación del pago.
                            </em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#11" >
                                <strong>Ya concreté todos sus pasos, ¿En qué tiempo recibiré mi compra?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="11" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>
                                Su compra le llegará de 48hrs a 72hrs luego de haber enviado el formulario y nosotros haber verificado el pago. Para mayor información visite  políticas de envió <a href="{{ path('shipping') }}" target="_blank">haga click aquí</a>.
                            </em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#12" >
                                <strong>¿Hay forma de rastrear mi envío?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="12" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>
                                Si, con el número de guía suministrado en el correo que recibió luego de realizar su pago, Verifique su envío <a href="http://www.dhl.com.ve/es/express/rastreo.html" target="_blank">haga click aquí</a>.
                            </em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#13" >
                                <strong>              De no cumplirse algún paso o  surgir algún retraso en el proceso, ¿Qué debo hacer?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="13" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>
                                Comunicarse con nosotros vía correo electrónico <a href="mailto:" target="_blank">ventasweb@tanane.com.ve</a> y de inmediato le daremos respuesta o solución a su situación. Nosotros mantenemos contacto inmediato si llegase a ocurrir algún contratiempo con alguna transacción, la falta de algún dato para el envió o verificación depósito.
                            </em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#14" >
                                <strong>              ¿Qué sucede si realizo el pago de mi compra un día viernes?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="14" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>
                                Todos los pagos realizados un día anterior a uno NO laboral o festivo, serán procesados al siguiente día laboral.
                            </em>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#15" >
                                <strong>¿Cómo hago uso de mi garantía?
                                </strong></a>
                        </h4>
                    </div>
                    <div id="15" class="panel-collapse collapse">
                        <div class="panel-body">
                            <em>
                                Luego de verificar que su producto cumple las exigencias y condiciones de garantía <a href="{{ path('warranties') }}" target="_blank">haga click aquí</a>, vía correo electrónico <a href="mailto:" target="_blank">garantias@tanane.com.ve</a> nos informa de su caso y de inmediato le haremos llegar un número de caso e instrucciones para el envió de su producto.
                            </em>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
{% endblock content %}
