{% extends '::base.html.twig' %}
{% block title %}POLÍTICAS DE ENVÍOS{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12" >
            <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>POLÍTICAS DE ENVÍOS</h3>
        </div>

        <div class="col-lg-8 col-lg-offset-2">
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - Todos nuestros envíos a nivel nacional son realizados por la compañía DHL sin excepción o por nuestro personal de transporte.:
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - Usted deberá depositar el costo del producto más el costo del envío. El monto adicional a depositar será indicado por nuestro personal vía e-mail o telefónicamente, ya que dependerá del peso y el volumen del articulo ofertado.
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - Dado el caso que la zona sea de difícil acceso o no la cubra DHL, de inmediato nos comunicaremos con usted para brindarle la más cómoda y rápida solución.
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - Todos nuestros envíos son garantizados y la empresa no se hace responsable de cualquier daño que pueda sufrir por el manejo por parte de DHL o la pérdida del mismo.
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - El tiempo de entrega oscila entre 48horas y 72 horas luego de verificado el depósito sin excepción.
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - El retraso del envío por razones ajenas a nuestra voluntad no es responsabilidad de la empresa.
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - Si el embalaje o caja del producto le llegase deteriorada, en mal estado o con indicios de haber sido abierta o violada, su obligación es notificarnos de inmediato, la compañía no se hace responsable por reclamos luego de recibida la mercancía.
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - Los cálculos y tarifas de envíos serán regidos por DHL según sus tarifas vigentes en su página. <a href="http://www.tanane.com.ve/costoenviosdhl.pdf" target="_blank">TARIFAS</a>
            </p>
        </div>
    </div>
{% endblock content %}
