{% extends '::base.html.twig' %}
{% block title %}GARANTÍAS{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12" >
            <h3 style='color:#5E3D1E;text-align: center;font-weight: bold;'>GARANTÍAS</h3>
        </div>
        <br><br>
        <div class="col-lg-8 col-lg-offset-2">
            <br>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - Todos nuestros productos tienen garantía con sus respectivas restricciones:
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - Defectos de fábrica.
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - Piezas quemadas, rotas, maltratadas, dañadas por mal uso o manejo perderán cualquier tipo de garantía.
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - Todo producto debe ser devuelto en su empaque original, accesorios y copia de la factura para hacer uso de la garantía.
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - Costos de envío por motivo de garantía a partir de los primeros 15 días de realizada la compra del artículo corren por cuenta del cliente.
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - No se realizan reintegros de dinero por ningún concepto.
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - Todos nuestros cambios por efectos de garantía están condicionados tanto al cumplimiento de las restricciones como a la disponibilidad del producto en caso de reemplazo.
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - De no poseer disponibilidad de un producto para reposición del mismo por efectos de garantía, se contactará al cliente para darle la mejor y más rápida solución.
            </p>
            <p style='color:#5E3D1E;font-size: 12pt;text-align: justify;font-weight: bold;'>
                - Todo requerimiento o solicitud será tramitada única y exclusivamente por la siguiente dirección de correo <a href="mailto:garantias@tanane.com.ve">garantias@tanane.com.ve</a>
            </p>
        </div>
    </div>
{% endblock content %}
