{% extends "BackendBundle::layout.html.twig" %}
{% block breadcrumb %}
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-building"></i> <a href="{{ path('list-bank') }}">Bancos</a> <span> &gt; Nuevo</span></h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8"></div>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div data-widget-custombutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-1" class="jarviswidget jarviswidget-sortable" style="" role="widget">
                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Agregar Banco</h2>
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">
                        {{ form_start(form, { 'attr': {'class': 'smart-form', "id": "bank-form"} }) }}
                        <fieldset>
                            <section class="col col-6">
                                <label class="label">Nombre del Banco</label>
                                <label class="input"><i class="icon-prepend fa fa-credit-card"></i>
                                    {{ form_widget(form.name, {'attr': {'class': 'custom-scroll', 'placeholder':'Nombre del Banco' }}) }}
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">Código</label>
                                <label class="input"><i class="icon-prepend fa fa-qrcode"></i>
                                    {{ form_widget(form.code, {'attr': {'class': 'custom-scroll', 'placeholder':'Código' }}) }}
                                </label>
                            </section>
                            <section  class="col col-2">
                                <label class="label">&nbsp;</label>
                                <label class="checkbox">
                                    {{ form_widget(form.active, {'attr': {}}) }}
                                    <i></i>Activo
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Guardar</button>
                            <button onclick="window.history.back();" class="btn btn-default" type="button">Cancelar</button>
                        </footer>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".smart-form").validate({
                rules: {
                    'bank[name]': {
                        required: true
                    },
                    'bank[code]': {
                        required: true,
                        digits: true
                    }
                },
                messages: {
                    'bank[name]': {
                        required: 'Introduzca el nombre del banco'
                    },
                    'bank[code]': {
                        required: 'Introduzca el código del banco',
                        digits: 'Solo se permiten números'
                    }
                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

            $(".smart-form").submit(function (e) {
                e.preventDefault();

                if ($(".state-error").length < 1) {
                    $.ajax({
                        async: false,
                        type: "POST",
                        cache: false,
                        url: '{{ path('save-bank') }}',
                        data: $('.smart-form').serializeArray(),
                        success: function (data) {
                            if (data.status === false) {
                                htmlContent = "<ul>";
                                for (var prop in data.error) {
                                    htmlContent += '<li>' + data.error[prop] + '</li>';
                                }
                                htmlContent += "</ul>";

                                $.smallBox({
                                    title: "Ocurrieron errores",
                                    content: htmlContent,
                                    color: "#C46A69",
                                    icon: "fa fa-warning shake animated",
                                    timeout: 7000
                                });
                            } else {
                                if (data.message != "") {
                                    $.smallBox({
                                        title: "Satisfactorio",
                                        content: data.message,
                                        color: "#739E73",
                                        icon: "fa fa-check shake animated",
                                        timeout: 5000
                                    });

                                    window.setTimeout(function () {
                                        window.location.href = Routing.generate('list-bank');
                                    }, 5000);
                                }
                            }
                        }
                    });
                } else {
                    return false;
                }
            });
        });
    </script>
{% endblock scripts %}
